#include <winver.h>

#include "../common/version.h"

/* EXE version info */
VS_VERSION_INFO VERSIONINFO
FILEVERSION WINSVCBLOCKER_RES_VERSION
PRODUCTVERSION WINSVCBLOCKER_RES_VERSION
FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
FILEFLAGS VS_FF_DEBUG
#else
FILEFLAGS 0x0L
#endif
FILEOS VOS_NT_WINDOWS32
FILETYPE VFT_APP
FILESUBTYPE VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "CompanyName", "TANGaming"
            VALUE "FileDescription", "WinSvcBlocker Service"
            VALUE "FileVersion", WINSVCBLOCKER_RES_VERSION_STR
            VALUE "InternalName", "svcblocker_svc"
            VALUE "LegalCopyright", WINSVCBLOCKER_COPYRIGHT
            VALUE "OriginalFilename", "svcblocker_svc.exe"
            VALUE "ProductName", "WinSvcBlocker"
            VALUE "ProductVersion", WINSVCBLOCKER_RES_VERSION_STR
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END
